<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:context="http://www.springframework.org/schema/context" 
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   http://www.springframework.org/schema/beans/spring-beans.xsd 
	   http://www.springframework.org/schema/context 
	   http://www.springframework.org/schema/context/spring-context.xsd 
	   http://www.springframework.org/schema/mvc
	   http://www.springframework.org/schema/mvc/spring-mvc.xsd ">

	<!-- 扫描有注解的包 -->
	<context:component-scan base-package="com.kk.controller"/>

	<!-- 视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"/>
		<property name="suffix" value=".jsp"/>
	</bean>

	<!-- 加载国际化资源文件 -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="i18n"/>
	</bean>

	 <!--使用服务器默认servlet处理静态资源的请求 -->
	<mvc:default-servlet-handler/>

	<!-- 往容器中纳入自定义类型转换器 -->
	<bean id="myConverter" class="com.kk.converter.MyConverter"/>

	<!-- 将自定义转换器纳入SpringMVC提供的转换器Bean -->
	<!--<bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<ref bean="myConverter"/>
			</set>
		</property>
	</bean>-->

	<!-- 通过注解注册转换器Bean -->
    <mvc:annotation-driven conversion-service="conversionService"/>

	<!-- 配置数据格式化注解所需的Bean -->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
    	<property name="converters">
			<set>
				<ref bean="myConverter"/>
			</set>
		</property>
	</bean>

</beans>