<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.mapper.PersonMapper">

    <select id="selectPersonAll" resultType="Person">
        select * from person
    </select>

    <delete id="deleteById" parameterType="Integer">
        delete from person where id = #{id}
    </delete>

    <insert id="insertPerson" parameterType="Person">
        insert into person (id,name,age) values(default ,#{name},#{age})
    </insert>

    <select id="selectPersonById" parameterType="Integer" resultType="Person">
        select * from person where id = #{id}
    </select>

    <update id="updatePersonById" parameterType="Person">
        update person set name = #{name},age = #{age} where id=#{id}
    </update>
</mapper>
